@model HomeViewModel
@inject ICartService CartService

@{
    ViewData["Title"] = "Home Page";
}

@section Css{
    <link href="~/css/Home/home-index.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/js/Home/home-index.js"></script>
}


<div class="row">
    <div class="col l8 m12 s12">
       @{
           Html.RenderPartial("_MenuPartial", Model);
       }
    </div>
    <div id="cart-container" class="col l4 m12 s12">
        @{
            Html.RenderPartial("_CartPartial");
        }
    </div>
</div>

<div id="cart-modal" class="modal modal-fixed-footer">

</div>

