body {
    font-family: Roboto;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.page-content {
    padding-top: 30px;
}

#success-message {
    font-size: 20px;
    opacity: 0;
    width: auto;
    position: absolute;
    top: -50px;
    left: -50px;
}

.flimmer {
    visibility: hidden;
}
