body {
    font-family: Roboto;
}

.page-content {
   padding: 60px;
}

#toast-container {
    bottom: auto !important;
    right: auto !important;
    top: 10%;
    left: 7%;
}

/* ------ Varukorg------ */
.cart {
    max-height: 500px;
    overflow-y: auto;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

#success-message {
    color: white;
    background-color: rgba(88, 250, 53, 0.58);
    font-size: 20px;
    opacity: 0;
    width: auto;
    position: absolute;
    top: -50px;
    left: -50px;
}

.flimmer {
    visibility: hidden;
}
