body {
    font-family: Roboto;
    padding-top: 0px;
}

.page-content {
    padding: 60px;
    height: 1000px;
}

#toast-container {
    bottom: auto !important;
    right: auto !important;
    top: 10%;
    left: 7%;
}


/* ------ Varukorg------ */
.cart {
    max-height: 500px;
    overflow-y: auto;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

#success-message {
    color: white;
    background-color: rgba(88, 250, 53, 0.58);
    font-size: 20px;
    opacity: 0;
    width: auto;
    position: absolute;
    top: -50px;
    left: -50px;
}

.flimmer {
    visibility: hidden;
}

/*---- Navbar design ----*/

.main-nav {
    background: url('../images/hultans-banner.jpg') center / cover;
}

.brand-logo {
    -webkit-text-stroke: 0.5px white;
    transition: 0.5s;
}

    .brand-logo:hover {
        color: rgb(115, 35, 35);
        cursor: pointer;
    }


.mobile-logout button {
    width: 270px;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    margin: 10px 15px;
}
