@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "red-text" : "green-text";
    <div class="alert @statusMessageClass" role="alert">
      
        <h5>@Model  </h5>
    </div>
}
