<div class="row">
    <div class="col s3 offset-s4">
        <h4>Administering</h4>
        <div class="collection">
            <a asp-action="Ingredients" class="collection-item">
                <i class="material-icons left">local_pizza</i>Hantera ingredienser
            </a>
            <a asp-action="Users" class="collection-item">
                <i class="material-icons left">supervisor_account</i>Hantera användare
            </a>
        </div>
    </div>
</div>